.Container {
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 20px;
  text-align: left;
  background-color: #e6e7e8;
}

.Copyright {
  width: 100%;
  color: #58595B;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
